In [1]:
# Import packages
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
# Read in data and save as a dataframe
best_df = pd.read_csv('50-best-places-diversity-f500.csv')

In [2]:
# Inspect the data
best_df.head()

,rank,Company,Diversity List URL,Type,City,State,Industry,F500-2017
0,1,Texas Health Resources,http://fortune.com/best-workplaces-for-diversi...,Non-Profit,Arlington,Texas,Health Care,N
1,2,Delta Air Lines,http://fortune.com/best-workplaces-for-diversi...,Public,Atlanta,Georgia,Transportation,Y
2,3,Navy Federal Credit Union,http://fortune.com/best-workplaces-for-diversi...,Non-Profit,Vienna,Virginia,Financial Services,N
3,4,Kimpton Hotels & Restaurants,http://fortune.com/best-workplaces-for-diversi...,Public,San Francisco,California,Hospitality,N
4,5,Ultimate Software,http://fortune.com/best-workplaces-for-diversi...,Public,Weston,Florida,Technology,N

In [4]:
# Get number of counts in each industry represented
best_df['Industry'].value_counts()

Financial Services            13
Health Care                    8
Technology                     7
Retail                         5
Legal                          2
Telecommunications             2
Hospitality                    2
Professional Services          2
Consulting                     2
Biotechnology                  1
Automotive                     1
Transportation                 1
Marketing                      1
Manufacturing & Production     1
Real Estate                    1
Information Technology         1
Name: Industry, dtype: int64